[Desktop Entry]

Name=Inkscape
Comment=inkscape
Exec=/home/angloong/Applications/Inkscape-0d15f75-x86_64.appimage
Icon=/home/angloong/Applications/inkscape.png
Type=Application
Categories=Office;

