[Desktop Entry]

Name=Sayonara
Comment=sayonara
Exec=/home/angloong/Applications/sayonara-1.11.0-stable1-gb39e7fab.AppImage
Icon=/home/angloong/Applications/sayonara.png
Type=Application
Categories=Office;

